{% extends 'body.html' %}
{% block body %}
<div class="row">
    <div class="row">
        <div class="col s6">
            <div class="row">
                <div class="col s12 m3 right-align">
                    <a href="#"><img class="responsive-img" src="{{foto}}"></a>
                </div>
                <div class="col s12 m9 left-align col-name">
                    {{nome}}
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="row">
                <h7><b>Type</b></h7>
            </div>
            <div class="row">{% for tipos in tipo %}
                <div class="col col-types">
                    {{tipos}}
                </div>{% endfor %}
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <h7><b>Statics</b></h7>
    </div>
    <div class="row">{% for nome_estatisticas, estatisticas in zipestatisticas %}
        <div class="col s6 right-align col-stats-name">
            {{nome_estatisticas}}
        </div>
        <div class="col s6 left-align">
            <div class="col left-align col-stats">
                {{estatisticas}}
            </div>
        </div>{% endfor %}
    </div>
    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><h7><b>Abilities</b></h7></div>
            <div class="collapsible-body">
                <div class="row"><span>{% for habilidade in habilidade %}
                    <div class="col s4 m3 l6 xl6 center-align">
                        {{habilidade}}<br><br>
                    </div>{% endfor %}</span>
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><h7><b>Moves</b></h7></div>
            <div class="collapsible-body">
                <div class="row"><span>{% for golpes in golpes %}
                    <div class="col s4 m3 center-align">
                        {{golpes}}<br><br>
                    </div>{% endfor %}</span>
                </div>
            </div>
        </li>
    </ul>
    <div class="row">
        <div class="col s4 center-align">
            <a href="#">Previous</a>
        </div>
        <div class="col s4 center-align">
            <a href="/">Home</a>
        </div>
        <div class="col s4 center-align">
            <a href="#">Next</a>
        </div>
    </div>
</div>
{% endblock %}