<nav class="header">
    <div class="container">
        <div class="nav-wrapper">
            <form class="col s12" action="buscar" method="POST">
                <div class="row">
                    <div class="col s12">
                        <div class="input-field col s12">
                            <input id ="nome" type="search" class="validate" name="pesquisa">
                            <label class="label-icon" for="nome"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>
